<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LJshareDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3072E7321C7AA93D006A64AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3072E74B1C7AA93D006A64AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3072E7561C7AA93D006A64AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
